.memberItem {
  background-color: #f4f4f4;
  padding: 1.25em;
  border: 1px solid #ddd;
  border-radius: 0.5em;
  text-align: center;
  width: 12.5em;

  display: flex;
  flex-direction: column;
  place-items: center;
  place-content: center;
  row-gap: 0.625em;
}

.memberItem img {
  border-radius: 50%;
  width: 6.25em;
  height: 6.25em;
  object-fit: cover;
}

.memberItem h3 {
  font-size: 1.2em;
}

.info {
  display: flex;
  flex-direction: column;
  row-gap: 0.3125em;

  height: 6.563em;
  justify-content: center;
}
