.divider {
  width: 100%;
}

.divider hr {
  border: 0;
  border-top: 0.0625em solid rgba(255, 255, 255, 0.15);
  margin: 0.5em 0;
}

.dropdownItem {
  width: 100%;
}

.dropdownItem a {
  display: block;

  padding: 0.25em 0.5em;
  padding-right: 1.75em; /* icon 1.25em 포함*/
}

.dropdownItem a:hover {
  background-color: #595959;
}
