.card {
  display: flex;
  flex-direction: column;
  row-gap: 2em;

  margin: 1.25em;
  padding: 1.5em;
  max-width: 37.5em;

  border: 1px solid black;
  border-radius: 1em;
}

.heading {
  border-bottom: 1px solid black;
}

.writer {
  text-align: right;
}

.card a {
  color: #6c87ff;
}
