header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

header .logo {
    font-size: 1.5em;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

footer a {
    color: #f90;
    text-decoration: none;
    margin: 0 10px;
}

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
section h1 {
    text-align: center;
    color: #333;
}
.section {
    margin-bottom: 20px;
}
section h2 {
    color: #007bff;
    border-bottom: 2px solid #007bff;
    padding-bottom: 5px;
}
section ul {
    list-style-type: none;
    padding: 0;
}
section li {
    background: #e9ecef;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}
section p {
    color: #555;
}
.conclusion {
    background: #007bff;
    padding: 20px;
    border-radius: 5px;
}
.conclusion h2{
    color: white;
    margin-top: 0;
}
.conclusion p {
    margin: 10px 0;
    color: white;
}