.homeHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25em;

  background-color: #333;
  color: white;
  width: 100%;
}

.homeHeader h1 {
  font-size: 1.5em;
}

.homeHeader h2 a {
  color: white;
}

.homeNav {
  display: flex;
  column-gap: 1.25em;
}

.homeLinkItem a {
  color: white;
}
